# macOS
.DS_Store

# SwiftPM / Build
.swiftpm/
.build/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/

# Logs & temporary
*.log
*.swp
*.tmp

# Coverage
*.gcno
*.gcda
*.profraw
*.profdata
